:root {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.hidden {
  display: none;
}

.login-form-container {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#splash {
  display: flex;
  justify-content: center;
  align-items: center;
}
#splash div {
  display: flex;
  background-color: white;
  color: black;
  width: 100px;
  height: 100px;
  border-radius: 40%;
  justify-content: center;
  align-items: center;
}
.splash-hidden {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  animation: splash 3s ease-in-out forwards;
}
@keyframes splash {
  from {
    opacity: 1;
  }
  50% {
    background-color: beige;
  }
  to {
    visibility: hidden;
  }
}

.login-form-container input:first-child {
  width: 200px;
  height: 30px;
  border: thick inset #32a1ce;
  outline: none;
}
.login-form-container input:last-child {
  margin-left: 10px;
  border: 2px inset pink;
}

#greeting {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

#course-link {
  text-decoration: none;
  position: absolute;
  bottom: 55px;
  right: 30px;
  margin: 20px;
  font-size: small;
  color: gold;
  font-weight: 300;
}

#todo-form-container {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#todo-form-container input {
  border: 1px black solid;
  border-radius: 10px;
  outline: none;
  width: 250px;
  height: 25px;
  font-size: 20px;
}
#todo-form-container input:focus {
  transform: scale(1.5, 1.5);
  border: 1px solid salmon;
}
#todo-list {
  display: flex;
  flex-direction: column;
}

#todo-list li {
  margin: 8px;
}
#todo-list li:hover {
  animation: bottomMark 0.5s ease-in forwards;
}
#todo-list button {
  margin-left: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

@keyframes bottomMark {
  from {
    border-bottom: 1px solid royalblue;
  }
  to {
    transform: scale(1.1);
    border-bottom: 1px solid aquamarine;
  }
}

#quote span:last-child {
  color: coral;
}

#images-box img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}

#clock {
  opacity: 0.8;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 5px;
  transition: color 2s, transform 1s;
}
#clock:hover {
  color: rebeccapurple;
  transform: rotateX(90deg);
}

#weather {
  font-size: 13px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  opacity: 0.8;
  position: absolute;
  top: 50px;
  right: 20px;
}

.img-click_button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}
